* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif, "Arial", sans-serif;;
}

body {
  width: 100%;
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
  margin: 0; /* Pode garantir que não há margens extras que estão movendo o conteúdo para fora */
  padding: 0;
  margin-top: 60px; /* Ajuste se necessário para não sobrepor o conteúdo */
}

.header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  display: flex;
  font-size: 1.7rem;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;  /* Garante que o cabeçalho fique no topo */
  transition: top 0.3s;  /* Adiciona uma animação suave */
}


.logo{
  font-size: 25px;
  color: #010003;
  text-decoration: none;
  font-weight: 600;
}

.navbar a{
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover{
  color: #00abf0;
}

/* Estilo para o botão de menu sanduíche */
.menu-btn {
  display: none; /* Inicialmente escondido, será mostrado no mobile */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;  /* Ajustando para ele ficar um pouco abaixo do topo */
  right: 20px; /* Colocando o botão no canto direito */
  z-index: 100;
}

.menu-bar {
  height: 4px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  gap: 20px;
}

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%; /* Pode afetar a posição do conteúdo e do ícone */
  margin-top: 100px;
  position: relative;
  overflow: hidden; /* Pode ocultar o botão se ele estiver fora da área visível */

}

.home-content{
  flex: 1;
  text-align: left;
}

.hero{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-foto{
  width: 450px; /* Mantém o tamanho da foto */
  height: 450px; /* Garante que a foto seja circular */
  border-radius: 50%; /* Deixa a foto em formato circular */
  border: 5px solid #472ea1; /* Mantém a borda da foto */
  object-fit: cover; /* Garante que a foto se ajuste corretamente */
}


.home-content h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}

.home-content h3{
  font-size: 42px;
  font-weight: 800;
  color: #594ef5;
}

.home-content p{
  font-size: 20px;
  margin: 20px 0 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #000000;
}

.home-content .btn-box{
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #ffffff;
  color: #020002;
  border: 2px solid #472ea1;
  border-radius: 8px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.btn-box a:nth-child(2){
  background: transparent;
  color: rgb(10, 0, 14);
}

.btn-box a:nth-child(2):hover{
  background: #ffffff;
}
.btn-box a:nth-child(2)::before{
  background: #4e4896;
}

.btn-box a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #4e4896;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before{
  width: 100%;
}
.main-section{
  color: #020002;
}

.home-sci{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 47%;

}

.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #f0e4e4;
  border-radius: 50%;
  font-size: 25px;
  color: #080000;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3954ca;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.skills {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.skills a{
  color: #000000;
  padding: 5px;
}

.container{
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 22rem;
  justify-content: center;
  position: relative;
}

.main-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 1rem 0;
  padding-right: 3.5rem;
}

.main-section img{
  margin: 100px;
  width: 30%;
  border: 2px solid #f0e4e4;
  border-radius: 20px;
  position: relative;
}

.main-section-about h1{
  margin-bottom: 1rem;
  color: #147efb;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.main-section-about h3{
  color: #2d2e32;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.main-section-about p{
  color: #767676;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.projetos{
  background-color: #fff;
  padding: 20rem 0;
}
.main-projetos{
  font: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2d2e32;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 250px;
}
.main-projetos p{
  font-size: 1.5rem;
  color: rgb(105, 102, 102);
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 350px;
  list-style-type: none;

}

.list-item {
  flex-basis: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px #6c6ace;
  background-image: url(Imagens/mkt.png);
  background-size: 150%;
  background-repeat: no-repeat;
  padding: 40px 10px 20px; /* Ajuste o padding superior e inferior */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os itens fiquem empilhados */
  height: 400px; /* Aumenta a altura da div para criar mais espaço para o texto */
}

.list-item-title {
  font-size: 1.2rem;  /* Ajuste o tamanho da fonte conforme necessário */
  color: #000000;  /* Cor do texto, pode ser ajustado */
  font-weight: bold;
  margin-top: 15rem;  /* Desce o texto para mais abaixo */
  margin-bottom: 1rem;  /* Espaçamento entre o nome e os links */
}

.list-item-action {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens */
}

.list-item-links {
  display: flex;
  justify-content: center; /* Centraliza os links */
  gap: 20px; /* Adiciona espaçamento entre os links */
  margin-top: 1rem; /* Adiciona espaçamento entre o nome e os links */
}

.list-item-action a {
  justify-content: center;
  width: 120px;
  height: 100%;
  background: #ffffff;
  color: #020002;
  border: 2px solid #472ea1;
  border-radius: 8px;
  font-size: 22px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 3px;  /* Adicionando espaçamento interno para dar mais espaço */
  line-height: .5; /* Ajuste o line-height para dar mais "altura" ao link */
}

.list-item-action a:hover {
  background-color: #85a1da;
}


.list-item-dois{
  flex-basis: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px #6c6ace;
  background-image: url(Imagens/landpage2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px 10px 20px; /* Ajuste o padding superior e inferior */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os itens fiquem empilhados */
  height: 400px; /* Aumenta a altura da div para criar mais espaço para o texto */
}


.list-item-tres{
  flex-basis: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px #6c6ace;
  background-image: url(Imagens/o-que-e-landing-page-1024x753_resized.jpg);
  background-size: 105%;
  background-repeat: no-repeat;
  padding: 40px 10px 20px; /* Ajuste o padding superior e inferior */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os itens fiquem empilhados */
  height: 400px; /* Aumenta a altura da div para criar mais espaço para o texto */
}


.list-item-quatro{
  flex-basis: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px #6c6ace;
  background-image: url(Imagens/desenhar.png);
  background-size: 105%;
  background-repeat: no-repeat;
  padding: 40px 10px 20px; /* Ajuste o padding superior e inferior */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os itens fiquem empilhados */
  height: 400px; /* Aumenta a altura da div para criar mais espaço para o texto */
}



.list-item-cinco{
  flex-basis: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px #6c6ace;
  background-image: url(Imagens/landpage1.png);
  background-size: 105%;
  background-repeat: no-repeat;
  padding: 40px 10px 20px; /* Ajuste o padding superior e inferior */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os itens fiquem empilhados */
  height: 400px; /* Aumenta a altura da div para criar mais espaço para o texto */
}


.list-item-seis{
  flex-basis: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px #6c6ace;
  background-image: url(Imagens/app_mete.png);
  background-size: 105%;
  background-repeat: no-repeat;
  padding: 40px 10px 20px; /* Ajuste o padding superior e inferior */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os itens fiquem empilhados */
  height: 400px; /* Aumenta a altura da div para criar mais espaço para o texto */
}




.footer-fim{
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
}

.container-footer{
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.container-f{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container-f h3{
  color: #fff;
  font-size: 1.4rem;
}
.footer-socials{
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2.5rem;
}

.footer-socials a{
  color: #472ea1;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #f0e4e4;
  border-radius: 50%;
  font-size: 30px;
  color: #fffefe;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.footer-socials a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #245ac5;
  z-index: -1;
  transition: 0.5s;
}

.footer-socials a:hover::before {
  width: 100%;
}



@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna no mobile */
    justify-content: center; /* Centraliza os itens */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Ajusta o padding para mobile */
  }
  /* Exibindo o botão de menu no mobile */
  .menu-btn {
    display: flex;
  }


   /* Escondendo os links de navegação no mobile */
  /* Inicialmente, escondendo os links */
  .navbar {
    display: none;
    position: absolute;
    top: 100px; /* Ajustando a posição */
    right: 10px;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  /* Exibindo os links de navegação quando a classe 'active' é adicionada */
  .navbar.active {
    display: flex;
  }

  /* Estilo do X para fechar o menu */
  .navbar.active + .menu-btn .menu-bar:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .navbar.active + .menu-btn .menu-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.active + .menu-btn .menu-bar:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .home-content {
    margin-top: 20px;
    text-align: center; /* Centraliza o texto no mobile */
  }

  .hero {
    margin-top: 100px; /* Dá espaço acima da foto */
    display: flex;
    justify-content: center; /* Centraliza a foto */
    margin-bottom: 20px; /* Dá espaço abaixo da foto */
  }

  .skills{
    justify-content: center;
    right: 5%;
  }
  
  .home-sci a {
    display: none !important;
  }

  /* Ajuste o tamanho da foto para o mobile */
  .hero-foto {
    width: 350px; /* Ajusta o tamanho da foto no mobile */
    height: 350px;
    border-radius: 50%; /* Foto circular */
  }
  
  .main-section {
    padding: 10px 15px;  /* Reduzido o padding superior para diminuir a margem */
    margin-top: -200px;    /* Diminui a brecha entre a foto (que foi escondida) e o texto "Sobre mim" */
  }

  .main-section img {
    display: none; /* Esconde a imagem no mobile */
  }

  .main-section-about {
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 1.5rem; /* Aumenta o tamanho da fonte no mobile */
    margin-top: 20px;
    padding: 10px; /* Padding dentro da div para espaçamento */
  }

  .about-me {
    font-size: 2rem; /* Aumenta o tamanho da fonte do título */
    margin-bottom: 15px; /* Distância entre o título e o parágrafo */
  }

  .main-section-about p {
    line-height: 1.6;
    font-size: 1.2rem; /* Aumenta o tamanho do texto */
    max-width: 100%; /* Permite o texto ocupar toda a largura */
    margin: 0; /* Remove margens extras */
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .fade-in.visible {
    opacity: 1;
  }
}
